.skuespec_Preto,
.skuespec_preto,
.sr_preto {
    background: #000;
}

.skuespec_Amarelo,
.skuespec_amarelo,
.sr_amarelo {
    background: #ffff00;
}

.skuespec_Vermelho,
.skuespec_vermelho,
.sr_vermelho {
    background: #fe0000;
}

.skuespec_Laranja,
.skuespec_laranja,
.sr_laranja {
    background: #ff6600;
}

.skuespec_Verde,
.skuespec_verde,
.sr_verde {
    background: #009900;
}

.skuespec_Azul,
.skuespec_azul,
.sr_azul {
    background: #0071c1;
}

.sr_azul-noite{
    background: #203763;
}

.sr_cinza-mescla{
    background: #7f7f7f;
}

.sr_cinza{
    background: #d9d9d9;
}
.sr_bege{
    background: #fef5e6 ;
}

.sr_offwhite{
    background: #f2f2f2;
    // border: 1px solid rgba(0,0,0,0.2);
}

.skuespec_Roxo,
.skuespec_roxo,
.sr_roxo {
    background: #7030a0;
}

.skuespec_Branco,
.skuespec_branco,
.sr_branco {
    background: #FFF;
    // border: 1px solid #eee;
}

.skuespec_Marinho,
.skuespec_marinho,
.sr_marinho {
    background: #073f84;
}

.skuespec_Vinho,
.skuespec_vinho,
.sr_vinho {
    background: #990134;
}

.skuespec_Rosa,
.skuespec_rosa,
.sr_rosa {
    background: #ff339a;
}

.skuespec_Marrom,
.skuespec_marrom,
.sr_marrom {
    background: #c06d39;
}