  $account-x: 0px;
  $account-y: 826px;
  $account-offset-x: 0px;
  $account-offset-y: -826px;
  $account-width: 14px;
  $account-height: 25px;
  $account-total-width: 210px;
  $account-total-height: 1485px;
  $account-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $account: 0px 826px 0px -826px 14px 25px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $arrow-x: 0px;
  $arrow-y: 7px;
  $arrow-offset-x: 0px;
  $arrow-offset-y: -7px;
  $arrow-width: 5px;
  $arrow-height: 8px;
  $arrow-total-width: 210px;
  $arrow-total-height: 1485px;
  $arrow-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $arrow: 0px 7px 0px -7px 5px 8px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $cart-active-x: 0px;
  $cart-active-y: 431px;
  $cart-active-offset-x: 0px;
  $cart-active-offset-y: -431px;
  $cart-active-width: 14px;
  $cart-active-height: 15px;
  $cart-active-total-width: 210px;
  $cart-active-total-height: 1485px;
  $cart-active-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $cart-active: 0px 431px 0px -431px 14px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $chat-x: 0px;
  $chat-y: 699px;
  $chat-offset-x: 0px;
  $chat-offset-y: -699px;
  $chat-width: 23px;
  $chat-height: 23px;
  $chat-total-width: 210px;
  $chat-total-height: 1485px;
  $chat-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $chat: 0px 699px 0px -699px 23px 23px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $clearsale-logo-x: 0px;
  $clearsale-logo-y: 1096px;
  $clearsale-logo-offset-x: 0px;
  $clearsale-logo-offset-y: -1096px;
  $clearsale-logo-width: 49px;
  $clearsale-logo-height: 33px;
  $clearsale-logo-total-width: 210px;
  $clearsale-logo-total-height: 1485px;
  $clearsale-logo-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $clearsale-logo: 0px 1096px 0px -1096px 49px 33px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $closetab-icon-x: 0px;
  $closetab-icon-y: 123px;
  $closetab-icon-offset-x: 0px;
  $closetab-icon-offset-y: -123px;
  $closetab-icon-width: 14px;
  $closetab-icon-height: 13px;
  $closetab-icon-total-width: 210px;
  $closetab-icon-total-height: 1485px;
  $closetab-icon-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $closetab-icon: 0px 123px 0px -123px 14px 13px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $facebook-x: 0px;
  $facebook-y: 503px;
  $facebook-offset-x: 0px;
  $facebook-offset-y: -503px;
  $facebook-width: 8px;
  $facebook-height: 17px;
  $facebook-total-width: 210px;
  $facebook-total-height: 1485px;
  $facebook-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $facebook: 0px 503px 0px -503px 8px 17px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $house-x: 0px;
  $house-y: 749px;
  $house-offset-x: 0px;
  $house-offset-y: -749px;
  $house-width: 20px;
  $house-height: 23px;
  $house-total-width: 210px;
  $house-total-height: 1485px;
  $house-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $house: 0px 749px 0px -749px 20px 23px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $icon-close-x: 0px;
  $icon-close-y: 138px;
  $icon-close-offset-x: 0px;
  $icon-close-offset-y: -138px;
  $icon-close-width: 13px;
  $icon-close-height: 13px;
  $icon-close-total-width: 210px;
  $icon-close-total-height: 1485px;
  $icon-close-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $icon-close: 0px 138px 0px -138px 13px 13px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $icon-success-user-x: 0px;
  $icon-success-user-y: 1310px;
  $icon-success-user-offset-x: 0px;
  $icon-success-user-offset-y: -1310px;
  $icon-success-user-width: 176px;
  $icon-success-user-height: 175px;
  $icon-success-user-total-width: 210px;
  $icon-success-user-total-height: 1485px;
  $icon-success-user-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $icon-success-user: 0px 1310px 0px -1310px 176px 175px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $info-x: 0px;
  $info-y: 971px;
  $info-offset-x: 0px;
  $info-offset-y: -971px;
  $info-width: 29px;
  $info-height: 28px;
  $info-total-width: 210px;
  $info-total-height: 1485px;
  $info-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $info: 0px 971px 0px -971px 29px 28px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $instagram-x: 0px;
  $instagram-y: 484px;
  $instagram-offset-x: 0px;
  $instagram-offset-y: -484px;
  $instagram-width: 17px;
  $instagram-height: 17px;
  $instagram-total-width: 210px;
  $instagram-total-height: 1485px;
  $instagram-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $instagram: 0px 484px 0px -484px 17px 17px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $institucional-x: 0px;
  $institucional-y: 881px;
  $institucional-offset-x: 0px;
  $institucional-offset-y: -881px;
  $institucional-width: 20px;
  $institucional-height: 28px;
  $institucional-total-width: 210px;
  $institucional-total-height: 1485px;
  $institucional-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $institucional: 0px 881px 0px -881px 20px 28px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $logo-checkout-x: 0px;
  $logo-checkout-y: 1131px;
  $logo-checkout-offset-x: 0px;
  $logo-checkout-offset-y: -1131px;
  $logo-checkout-width: 119px;
  $logo-checkout-height: 36px;
  $logo-checkout-total-width: 210px;
  $logo-checkout-total-height: 1485px;
  $logo-checkout-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $logo-checkout: 0px 1131px 0px -1131px 119px 36px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas-black-x: 0px;
  $lojas-black-y: 279px;
  $lojas-black-offset-x: 0px;
  $lojas-black-offset-y: -279px;
  $lojas-black-width: 8px;
  $lojas-black-height: 14px;
  $lojas-black-total-width: 210px;
  $lojas-black-total-height: 1485px;
  $lojas-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas-black: 0px 279px 0px -279px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas-open-x: 0px;
  $lojas-open-y: 247px;
  $lojas-open-offset-x: 0px;
  $lojas-open-offset-y: -247px;
  $lojas-open-width: 8px;
  $lojas-open-height: 14px;
  $lojas-open-total-width: 210px;
  $lojas-open-total-height: 1485px;
  $lojas-open-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas-open: 0px 247px 0px -247px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas-x: 0px;
  $lojas-y: 231px;
  $lojas-offset-x: 0px;
  $lojas-offset-y: -231px;
  $lojas-width: 8px;
  $lojas-height: 14px;
  $lojas-total-width: 210px;
  $lojas-total-height: 1485px;
  $lojas-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $lojas: 0px 231px 0px -231px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo-black-x: 0px;
  $main-logo-black-y: 1208px;
  $main-logo-black-offset-x: 0px;
  $main-logo-black-offset-y: -1208px;
  $main-logo-black-width: 160px;
  $main-logo-black-height: 49px;
  $main-logo-black-total-width: 210px;
  $main-logo-black-total-height: 1485px;
  $main-logo-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo-black: 0px 1208px 0px -1208px 160px 49px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo-fixed-x: 0px;
  $main-logo-fixed-y: 1169px;
  $main-logo-fixed-offset-x: 0px;
  $main-logo-fixed-offset-y: -1169px;
  $main-logo-fixed-width: 121px;
  $main-logo-fixed-height: 37px;
  $main-logo-fixed-total-width: 210px;
  $main-logo-fixed-total-height: 1485px;
  $main-logo-fixed-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo-fixed: 0px 1169px 0px -1169px 121px 37px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo-x: 0px;
  $main-logo-y: 1259px;
  $main-logo-offset-x: 0px;
  $main-logo-offset-y: -1259px;
  $main-logo-width: 160px;
  $main-logo-height: 49px;
  $main-logo-total-width: 210px;
  $main-logo-total-height: 1485px;
  $main-logo-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $main-logo: 0px 1259px 0px -1259px 160px 49px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn-black-x: 0px;
  $menu-btn-black-y: 941px;
  $menu-btn-black-offset-x: 0px;
  $menu-btn-black-offset-y: -941px;
  $menu-btn-black-width: 28px;
  $menu-btn-black-height: 28px;
  $menu-btn-black-total-width: 210px;
  $menu-btn-black-total-height: 1485px;
  $menu-btn-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn-black: 0px 941px 0px -941px 28px 28px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn-close-x: 0px;
  $menu-btn-close-y: 911px;
  $menu-btn-close-offset-x: 0px;
  $menu-btn-close-offset-y: -911px;
  $menu-btn-close-width: 28px;
  $menu-btn-close-height: 28px;
  $menu-btn-close-total-width: 210px;
  $menu-btn-close-total-height: 1485px;
  $menu-btn-close-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn-close: 0px 911px 0px -911px 28px 28px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn-x: 0px;
  $menu-btn-y: 853px;
  $menu-btn-offset-x: 0px;
  $menu-btn-offset-y: -853px;
  $menu-btn-width: 26px;
  $menu-btn-height: 26px;
  $menu-btn-total-width: 210px;
  $menu-btn-total-height: 1485px;
  $menu-btn-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-btn: 0px 853px 0px -853px 26px 26px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search-black-x: 0px;
  $menu-search-black-y: 329px;
  $menu-search-black-offset-x: 0px;
  $menu-search-black-offset-y: -329px;
  $menu-search-black-width: 16px;
  $menu-search-black-height: 15px;
  $menu-search-black-total-width: 210px;
  $menu-search-black-total-height: 1485px;
  $menu-search-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search-black: 0px 329px 0px -329px 16px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search-open-x: 0px;
  $menu-search-open-y: 346px;
  $menu-search-open-offset-x: 0px;
  $menu-search-open-offset-y: -346px;
  $menu-search-open-width: 16px;
  $menu-search-open-height: 15px;
  $menu-search-open-total-width: 210px;
  $menu-search-open-total-height: 1485px;
  $menu-search-open-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search-open: 0px 346px 0px -346px 16px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search-x: 0px;
  $menu-search-y: 363px;
  $menu-search-offset-x: 0px;
  $menu-search-offset-y: -363px;
  $menu-search-width: 16px;
  $menu-search-height: 15px;
  $menu-search-total-width: 210px;
  $menu-search-total-height: 1485px;
  $menu-search-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-search: 0px 363px 0px -363px 16px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-wishlist-x: 0px;
  $menu-wishlist-y: 94px;
  $menu-wishlist-offset-x: 0px;
  $menu-wishlist-offset-y: -94px;
  $menu-wishlist-width: 12px;
  $menu-wishlist-height: 12px;
  $menu-wishlist-total-width: 210px;
  $menu-wishlist-total-height: 1485px;
  $menu-wishlist-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $menu-wishlist: 0px 94px 0px -94px 12px 12px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $mini-arrow-x: 0px;
  $mini-arrow-y: 0px;
  $mini-arrow-offset-x: 0px;
  $mini-arrow-offset-y: 0px;
  $mini-arrow-width: 9px;
  $mini-arrow-height: 5px;
  $mini-arrow-total-width: 210px;
  $mini-arrow-total-height: 1485px;
  $mini-arrow-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $mini-arrow: 0px 0px 0px 0px 9px 5px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $news-x: 0px;
  $news-y: 263px;
  $news-offset-x: 0px;
  $news-offset-y: -263px;
  $news-width: 23px;
  $news-height: 14px;
  $news-total-width: 210px;
  $news-total-height: 1485px;
  $news-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $news: 0px 263px 0px -263px 23px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $next-vitrine-x: 0px;
  $next-vitrine-y: 724px;
  $next-vitrine-offset-x: 0px;
  $next-vitrine-offset-y: -724px;
  $next-vitrine-width: 15px;
  $next-vitrine-height: 23px;
  $next-vitrine-total-width: 210px;
  $next-vitrine-total-height: 1485px;
  $next-vitrine-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $next-vitrine: 0px 724px 0px -724px 15px 23px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $next-x: 0px;
  $next-y: 1032px;
  $next-offset-x: 0px;
  $next-offset-y: -1032px;
  $next-width: 22px;
  $next-height: 29px;
  $next-total-width: 210px;
  $next-total-height: 1485px;
  $next-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $next: 0px 1032px 0px -1032px 22px 29px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $nossas-lojas-x: 0px;
  $nossas-lojas-y: 153px;
  $nossas-lojas-offset-x: 0px;
  $nossas-lojas-offset-y: -153px;
  $nossas-lojas-width: 7px;
  $nossas-lojas-height: 13px;
  $nossas-lojas-total-width: 210px;
  $nossas-lojas-total-height: 1485px;
  $nossas-lojas-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $nossas-lojas: 0px 153px 0px -153px 7px 13px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $payment-methods-x: 0px;
  $payment-methods-y: 604px;
  $payment-methods-offset-x: 0px;
  $payment-methods-offset-y: -604px;
  $payment-methods-width: 210px;
  $payment-methods-height: 20px;
  $payment-methods-total-width: 210px;
  $payment-methods-total-height: 1485px;
  $payment-methods-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $payment-methods: 0px 604px 0px -604px 210px 20px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $payment-x: 0px;
  $payment-y: 448px;
  $payment-offset-x: 0px;
  $payment-offset-y: -448px;
  $payment-width: 25px;
  $payment-height: 16px;
  $payment-total-width: 210px;
  $payment-total-height: 1485px;
  $payment-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $payment: 0px 448px 0px -448px 25px 16px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil-black-x: 0px;
  $perfil-black-y: 215px;
  $perfil-black-offset-x: 0px;
  $perfil-black-offset-y: -215px;
  $perfil-black-width: 8px;
  $perfil-black-height: 14px;
  $perfil-black-total-width: 210px;
  $perfil-black-total-height: 1485px;
  $perfil-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil-black: 0px 215px 0px -215px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil-open-x: 0px;
  $perfil-open-y: 199px;
  $perfil-open-offset-x: 0px;
  $perfil-open-offset-y: -199px;
  $perfil-open-width: 8px;
  $perfil-open-height: 14px;
  $perfil-open-total-width: 210px;
  $perfil-open-total-height: 1485px;
  $perfil-open-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil-open: 0px 199px 0px -199px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil-x: 0px;
  $perfil-y: 183px;
  $perfil-offset-x: 0px;
  $perfil-offset-y: -183px;
  $perfil-width: 8px;
  $perfil-height: 14px;
  $perfil-total-width: 210px;
  $perfil-total-height: 1485px;
  $perfil-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $perfil: 0px 183px 0px -183px 8px 14px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $plus-x: 0px;
  $plus-y: 466px;
  $plus-offset-x: 0px;
  $plus-offset-y: -466px;
  $plus-width: 16px;
  $plus-height: 16px;
  $plus-total-width: 210px;
  $plus-total-height: 1485px;
  $plus-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $plus: 0px 466px 0px -466px 16px 16px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $prev-vitrine-x: 0px;
  $prev-vitrine-y: 674px;
  $prev-vitrine-offset-x: 0px;
  $prev-vitrine-offset-y: -674px;
  $prev-vitrine-width: 15px;
  $prev-vitrine-height: 23px;
  $prev-vitrine-total-width: 210px;
  $prev-vitrine-total-height: 1485px;
  $prev-vitrine-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $prev-vitrine: 0px 674px 0px -674px 15px 23px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $prev-x: 0px;
  $prev-y: 1001px;
  $prev-offset-x: 0px;
  $prev-offset-y: -1001px;
  $prev-width: 22px;
  $prev-height: 29px;
  $prev-total-width: 210px;
  $prev-total-height: 1485px;
  $prev-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $prev: 0px 1001px 0px -1001px 22px 29px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sacola-black-x: 0px;
  $sacola-black-y: 414px;
  $sacola-black-offset-x: 0px;
  $sacola-black-offset-y: -414px;
  $sacola-black-width: 14px;
  $sacola-black-height: 15px;
  $sacola-black-total-width: 210px;
  $sacola-black-total-height: 1485px;
  $sacola-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sacola-black: 0px 414px 0px -414px 14px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sacola-x: 0px;
  $sacola-y: 397px;
  $sacola-offset-x: 0px;
  $sacola-offset-y: -397px;
  $sacola-width: 14px;
  $sacola-height: 15px;
  $sacola-total-width: 210px;
  $sacola-total-height: 1485px;
  $sacola-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sacola: 0px 397px 0px -397px 14px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sair-x: 0px;
  $sair-y: 17px;
  $sair-offset-x: 0px;
  $sair-offset-y: -17px;
  $sair-width: 9px;
  $sair-height: 9px;
  $sair-total-width: 210px;
  $sair-total-height: 1485px;
  $sair-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $sair: 0px 17px 0px -17px 9px 9px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $scroll-more-x: 0px;
  $scroll-more-y: 1063px;
  $scroll-more-offset-x: 0px;
  $scroll-more-offset-y: -1063px;
  $scroll-more-width: 29px;
  $scroll-more-height: 31px;
  $scroll-more-total-width: 210px;
  $scroll-more-total-height: 1485px;
  $scroll-more-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $scroll-more: 0px 1063px 0px -1063px 29px 31px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-aprovado-done-x: 0px;
  $timeline-aprovado-done-y: 380px;
  $timeline-aprovado-done-offset-x: 0px;
  $timeline-aprovado-done-offset-y: -380px;
  $timeline-aprovado-done-width: 19px;
  $timeline-aprovado-done-height: 15px;
  $timeline-aprovado-done-total-width: 210px;
  $timeline-aprovado-done-total-height: 1485px;
  $timeline-aprovado-done-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-aprovado-done: 0px 380px 0px -380px 19px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-aprovado-x: 0px;
  $timeline-aprovado-y: 312px;
  $timeline-aprovado-offset-x: 0px;
  $timeline-aprovado-offset-y: -312px;
  $timeline-aprovado-width: 19px;
  $timeline-aprovado-height: 15px;
  $timeline-aprovado-total-width: 210px;
  $timeline-aprovado-total-height: 1485px;
  $timeline-aprovado-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-aprovado: 0px 312px 0px -312px 19px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-enviado-done-x: 0px;
  $timeline-enviado-done-y: 562px;
  $timeline-enviado-done-offset-x: 0px;
  $timeline-enviado-done-offset-y: -562px;
  $timeline-enviado-done-width: 20px;
  $timeline-enviado-done-height: 19px;
  $timeline-enviado-done-total-width: 210px;
  $timeline-enviado-done-total-height: 1485px;
  $timeline-enviado-done-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-enviado-done: 0px 562px 0px -562px 20px 19px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-enviado-x: 0px;
  $timeline-enviado-y: 583px;
  $timeline-enviado-offset-x: 0px;
  $timeline-enviado-offset-y: -583px;
  $timeline-enviado-width: 20px;
  $timeline-enviado-height: 19px;
  $timeline-enviado-total-width: 210px;
  $timeline-enviado-total-height: 1485px;
  $timeline-enviado-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-enviado: 0px 583px 0px -583px 20px 19px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-faturado-done-x: 0px;
  $timeline-faturado-done-y: 108px;
  $timeline-faturado-done-offset-x: 0px;
  $timeline-faturado-done-offset-y: -108px;
  $timeline-faturado-done-width: 20px;
  $timeline-faturado-done-height: 13px;
  $timeline-faturado-done-total-width: 210px;
  $timeline-faturado-done-total-height: 1485px;
  $timeline-faturado-done-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-faturado-done: 0px 108px 0px -108px 20px 13px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-faturado-x: 0px;
  $timeline-faturado-y: 168px;
  $timeline-faturado-offset-x: 0px;
  $timeline-faturado-offset-y: -168px;
  $timeline-faturado-width: 20px;
  $timeline-faturado-height: 13px;
  $timeline-faturado-total-width: 210px;
  $timeline-faturado-total-height: 1485px;
  $timeline-faturado-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-faturado: 0px 168px 0px -168px 20px 13px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-preparando-done-x: 0px;
  $timeline-preparando-done-y: 522px;
  $timeline-preparando-done-offset-x: 0px;
  $timeline-preparando-done-offset-y: -522px;
  $timeline-preparando-done-width: 29px;
  $timeline-preparando-done-height: 18px;
  $timeline-preparando-done-total-width: 210px;
  $timeline-preparando-done-total-height: 1485px;
  $timeline-preparando-done-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-preparando-done: 0px 522px 0px -522px 29px 18px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-preparando-x: 0px;
  $timeline-preparando-y: 542px;
  $timeline-preparando-offset-x: 0px;
  $timeline-preparando-offset-y: -542px;
  $timeline-preparando-width: 29px;
  $timeline-preparando-height: 18px;
  $timeline-preparando-total-width: 210px;
  $timeline-preparando-total-height: 1485px;
  $timeline-preparando-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-preparando: 0px 542px 0px -542px 29px 18px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-realizado-done-x: 0px;
  $timeline-realizado-done-y: 650px;
  $timeline-realizado-done-offset-x: 0px;
  $timeline-realizado-done-offset-y: -650px;
  $timeline-realizado-done-width: 27px;
  $timeline-realizado-done-height: 22px;
  $timeline-realizado-done-total-width: 210px;
  $timeline-realizado-done-total-height: 1485px;
  $timeline-realizado-done-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-realizado-done: 0px 650px 0px -650px 27px 22px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-realizado-x: 0px;
  $timeline-realizado-y: 626px;
  $timeline-realizado-offset-x: 0px;
  $timeline-realizado-offset-y: -626px;
  $timeline-realizado-width: 27px;
  $timeline-realizado-height: 22px;
  $timeline-realizado-total-width: 210px;
  $timeline-realizado-total-height: 1485px;
  $timeline-realizado-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-realizado: 0px 626px 0px -626px 27px 22px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-seta-x: 0px;
  $timeline-seta-y: 28px;
  $timeline-seta-offset-x: 0px;
  $timeline-seta-offset-y: -28px;
  $timeline-seta-width: 15px;
  $timeline-seta-height: 10px;
  $timeline-seta-total-width: 210px;
  $timeline-seta-total-height: 1485px;
  $timeline-seta-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $timeline-seta: 0px 28px 0px -28px 15px 10px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-active-x: 0px;
  $wishlist-active-y: 774px;
  $wishlist-active-offset-x: 0px;
  $wishlist-active-offset-y: -774px;
  $wishlist-active-width: 24px;
  $wishlist-active-height: 24px;
  $wishlist-active-total-width: 210px;
  $wishlist-active-total-height: 1485px;
  $wishlist-active-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-active: 0px 774px 0px -774px 24px 24px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-black-active-x: 0px;
  $wishlist-black-active-y: 80px;
  $wishlist-black-active-offset-x: 0px;
  $wishlist-black-active-offset-y: -80px;
  $wishlist-black-active-width: 12px;
  $wishlist-black-active-height: 12px;
  $wishlist-black-active-total-width: 210px;
  $wishlist-black-active-total-height: 1485px;
  $wishlist-black-active-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-black-active: 0px 80px 0px -80px 12px 12px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-black-x: 0px;
  $wishlist-black-y: 66px;
  $wishlist-black-offset-x: 0px;
  $wishlist-black-offset-y: -66px;
  $wishlist-black-width: 12px;
  $wishlist-black-height: 12px;
  $wishlist-black-total-width: 210px;
  $wishlist-black-total-height: 1485px;
  $wishlist-black-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-black: 0px 66px 0px -66px 12px 12px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-open-x: 0px;
  $wishlist-open-y: 52px;
  $wishlist-open-offset-x: 0px;
  $wishlist-open-offset-y: -52px;
  $wishlist-open-width: 12px;
  $wishlist-open-height: 12px;
  $wishlist-open-total-width: 210px;
  $wishlist-open-total-height: 1485px;
  $wishlist-open-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-open: 0px 52px 0px -52px 12px 12px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-pick-x: 0px;
  $wishlist-pick-y: 40px;
  $wishlist-pick-offset-x: 0px;
  $wishlist-pick-offset-y: -40px;
  $wishlist-pick-width: 11px;
  $wishlist-pick-height: 10px;
  $wishlist-pick-total-width: 210px;
  $wishlist-pick-total-height: 1485px;
  $wishlist-pick-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-pick: 0px 40px 0px -40px 11px 10px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist-x: 0px;
  $wishlist-y: 800px;
  $wishlist-offset-x: 0px;
  $wishlist-offset-y: -800px;
  $wishlist-width: 24px;
  $wishlist-height: 24px;
  $wishlist-total-width: 210px;
  $wishlist-total-height: 1485px;
  $wishlist-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $wishlist: 0px 800px 0px -800px 24px 24px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $zoomProduct-x: 0px;
  $zoomProduct-y: 295px;
  $zoomProduct-offset-x: 0px;
  $zoomProduct-offset-y: -295px;
  $zoomProduct-width: 15px;
  $zoomProduct-height: 15px;
  $zoomProduct-total-width: 210px;
  $zoomProduct-total-height: 1485px;
  $zoomProduct-image: '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';
  $zoomProduct: 0px 295px 0px -295px 15px 15px 210px 1485px '/arquivos/x-sprite-mariafilo.png?0.43490144070656434';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
