<div class="w-100 center">
  <a href="http://mariafilo.com.br">
    <img alt="" border="0" width="auto" alt="{{_accountInfo.TradingName}}" src="https://mariafilo.vteximg.com.br/arquivos/mail-header.jpg" style="width: 100%; height: auto;">
  </a>
</div>
