<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
      lang="pt-br">

    <head>
        <vtex:metaTags/>
        <vtex:template id="MariaFilo-Head" />
        <link href="/arquivos/enext-institucional-mariafilo.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="x-general">

            <vtex:template id="MariaFilo-Header" />

            <main class="x-content">

                <div class="x-institucional">

                    <!-- CONTROLE CUSTOMIZADO -->
                    <vtex.cmc:MenuInstitucional />
                    <!-- / CONTROLE CUSTOMIZADO -->

                    <div class="x-institucional__brand x-brand">

                        <div class="x-brand__intro">
                            <vtex:contentPlaceHolder id="Banner-Intro" />
                            
                            <div class="x-brand__resume">
                                <h2><vtex:contentPlaceHolder id="Titulo-Intro" /></h2>
                                <p><vtex:contentPlaceHolder id="Texto-Intro" /></p>
                            </div>
                        </div>
                        
                        <div class="x-brand__just-text">
                            <vtex:contentPlaceHolder id="Texto-Coluna-1" />
                        </div>
                        
                        <div class="x-brand__just-text">
                            <vtex:contentPlaceHolder id="Texto-Coluna-2" />
                        </div>
                        
                        <div class="x-brand__banners">
                            <vtex:contentPlaceHolder id="Banner-Duplo" />
                        </div>
                        
                        <div class="x-brand__final">
                            <div class="x-brand__text-final">
                                <h3><vtex:contentPlaceHolder id="Titulo-Final" /></h3>
                                <p><vtex:contentPlaceHolder id="Texto-Final" /></p>
                            </div>
                            <vtex:contentPlaceHolder id="Banner-Final" />
                        </div>

                    </div>
                </div>

                <div class="x-instagram-banner">
                    <vtex:bannerInstagram />
                </div>

            </main>

            <vtex:template id="MariaFilo-Footer" />

        </div>
        <vtex:template id="MariaFilo-Scripts" />

        <script type="text/javascript" src="/arquivos/enext-institucional-mariafilo.js"></script>
    </body>

</html>

