<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
      lang="pt-br">

    <head>
        <vtex:metaTags/>
        <vtex:template id="MariaFilo-Head" />
        <link href="/arquivos/enext-institucional-mariafilo.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="x-general">

            <vtex:template id="MariaFilo-Header" />

            <main class="x-content">

                <div class="x-institucional">

                    <div class="x-institucional__service x-service">

                        <div class="x-service__title">
                            <h2>Atendimento</h2>
                        </div>

                        <div class="x-service__container">
                            <a href="#meus-pedidos" class="x-service__topic">
                                <h4 class="x-service__name">Meus Pedidos</h4>
                                <ul class="x-service__list">
                                    <li>Acompanhe seu pedido</li>
                                    <li>Cancelamento de itens</li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>

                            <a href="#produto" class="x-service__topic">
                                <h4 class="x-service__name">Produto</h4>
                                <ul class="x-service__list">
                                    <li>Guia de tamanhos</li>
                                    <li>Como cuidar das suas peças</li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>

                            <a href="#formas-pagamento" class="x-service__topic">
                                <h4 class="x-service__name">Formas de pagamento, promoções e cupons</h4>
                                <ul class="x-service__list">
                                    <li>Formas de pagamento</li>
                                    <li>Códigos promocionais</li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>

                            <a href="#perfil" class="x-service__topic">
                                <h4 class="x-service__name">Meu perfil</h4>
                                <ul class="x-service__list">
                                    <li>Recupere sua senha</li>
                                    <li>Altere seu endereço</li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>

                            <a href="#entrega" class="x-service__topic">
                                <h4 class="x-service__name">Entrega</h4>
                                <ul class="x-service__list">
                                    <li>Prazo de entrega</li>
                                    <li>Entrega internacional </li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>

                            <a href="#devolucoes" class="x-service__topic">
                                <h4 class="x-service__name">Trocas e devoluções</h4>
                                <ul class="x-service__list">
                                    <li>Trocas nas lojas físicas</li>
                                    <li>Devolução de produtos</li>
                                </ul>

                                <span class="x-service__action">Ver todos</span>
                            </a>
                        </div>

                        
                        <div class="x-service__pages">
                            
                            <div id="meus-pedidos">
                                <vtex:contentPlaceHolder id="meus-pedidos" />
                            </div>
                            
                            <div id="produto">
                                <vtex:contentPlaceHolder id="produto" />
                            </div>
                            
                            <div id="formas-pagamento">
                                <vtex:contentPlaceHolder id="formas-pagamento" />
                            </div>
                            
                            <div id="perfil">
                                <vtex:contentPlaceHolder id="perfil" />
                            </div>
                            
                            <div id="entrega">
                                <vtex:contentPlaceHolder id="entrega" />
                            </div>
                            
                        </div>
                        
                        <div class="x-service__chat">
                            <p>não consegue encontrar o que você está procurando?</p>
                            <a href="#">Pergunte aqui</a>
                        </div>

                    </div>
                </div>

                <div class="x-instagram-banner">
                    <vtex:bannerInstagram />
                </div>

            </main>

            <vtex:template id="MariaFilo-Footer" />

        </div>
        <vtex:template id="MariaFilo-Scripts" />

        <script type="text/javascript" src="/arquivos/enext-institucional-mariafilo.js"></script>
    </body>

</html>

