<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
      lang="pt-br">

    <head>
        <vtex:metaTags/>
        <vtex:template id="MariaFilo-Head" />
        <link href="/arquivos/enext-fale-conosco-mariafilo.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="x-general">

            <vtex:template id="MariaFilo-Header" />

            <main class="x-content">
                
                <div class="x-talk-with-us">
                   
                   <h2 class="x-talk-with-us__title">
                       Fale com a Maria
                   </h2>
                    
                    <form class="x-talk-with-us__form js--talk-with-us"></form>
                    
                </div>

                <div class="x-instagram-banner">
                    <vtex:bannerInstagram />
                </div>

            </main>

            <vtex:template id="MariaFilo-Footer" />

        </div>
        <vtex:template id="MariaFilo-Scripts" />

        <script type="text/javascript" src="/arquivos/enext-fale-conosco-mariafilo.js"></script>
    </body>

</html>