<footer class="x-footer">
    <vtex.cmc:xFooterSocial/>
    <vtex.cmc:xFooterNewsletter/>
    <section class="x-footer__info">
        <div class="x-footer__info-item">
            <h4 class="x-footer__info-item-title"><a href="/institucional/nossas-lojas" title="Nossas lojas">Lojas</a></h4>
            <figure class="x-footer__info-item-figure"><a href="/institucional/nossas-lojas" title="Nossas lojas"><vtex.cmc:xSvgPinIcon/></a></figure>
            <p class="x-footer__info-item-text"><a href="/institucional/nossas-lojas" title="Nossas lojas">Confira todos os <br/>nossos endereços <br/>pelo Brasil</a></p>
        </div>
        <div class="x-footer__info-item">
            <h4 class="x-footer__info-item-title"><a href="https://centraldeatendimento.mariafilo.com.br/hc/pt-br" title="Central de atendimento">Fale conosco</a></h4>
            <figure class="x-footer__info-item-figure"><a href="https://centraldeatendimento.mariafilo.com.br/hc/pt-br" title="Central de atendimento"><vtex.cmc:xSvgSpeechBubbleIcon/></a></figure>
            <p class="x-footer__info-item-text"><a href="https://centraldeatendimento.mariafilo.com.br/hc/pt-br" title="Central de atendimento">Central de Atendimento <br/>Horário de funcionamento: <br/>dias úteis das 9h às 18h</a></p>
        </div>
        <div class="x-footer__info-item">
            <h4 class="x-footer__info-item-title">Formas de pagamento</h4>
            <ul class="x-footer__info-item-icons">
                <li class="x-footer__info-item-icon"><vtex.cmc:xSvgVisaLogo/></li>
                <li class="x-footer__info-item-icon"><vtex.cmc:xSvgMasterCardLogo/></li>
                <li class="x-footer__info-item-icon"><vtex.cmc:xSvgDinnersClubLogo/></li>
                <li class="x-footer__info-item-icon"><vtex.cmc:xSvgAmericanExpressLogo/></li>
                <li class="x-footer__info-item-icon"><vtex.cmc:xSvgEloLogo/></li>
            </ul>
            <p class="x-footer__info-item-text">Cartão de crédito <br/>5x sem juros <br/>Parcela mínima de R$100</p>
        </div>
    </section>
    <vtex.cmc:xFooterMap/>
    <vtex.cmc:xFooterBackToTop/>
    <vtex.cmc:xFooterSecurity/>
    
    <div id="float-back-to-top" style="display: none">
        <a href="#" class="back-to-top">
            <i class="arrow-top"></i>
            <span>Subir</span>
        </a>
    </div>
</footer>
<!-- CONTROLE CUSTOMIZADO -->
<vtex.cmc:WishlistPopUp />
<vtex.cmc:popupnovidades/>
<!-- / CONTROLE CUSTOMIZADO -->
<vtex.cmc:popupnewsletter/>