<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="pt-br">
<head>
    <vtex:metaTags/>
    <vtex:template id="MariaFilo-Head-dev"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- preload stylesheetes -->
    <!--<link rel="preload" as="style" href="https://mariafilo.vteximg.com.br/arquivos/enext-home-mariafilo-4.2.6-beta.css" />-->

    <!-- preload scripts -->
    <link rel="preload" as="script" href="https://mariafilo.vteximg.com.br/arquivos/jquery-cookie.min.js" />
    <!--<link rel="preload" as="script" href="https://mariafilo.vteximg.com.br/arquivos/enext-home-mariafilo-4.2.6-beta.js" />-->

    <!--<link href="https://mariafilo.vteximg.com.br/arquivos/enext-home-mariafilo-4.2.6-beta.css" rel="stylesheet" type="text/css"/>-->
    <meta name="google-site-verification" content="yDOj0VMUJOevsrprRKs1qUxVNFgjldM1t-uI5aH2TYc"/>
    <meta name="google-site-verification" content="H3_bwS7qmv1G4-BG8lPtFi-Pjfj9exRLG4kkVSxCexs" />
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0088/5399.js" async="async"></script>
</head>
<body>
<div class="x-general">


    <!--<vtex.cmc:preHeader />-->

    <!--<section class="x-preHeader__wrapper" >-->
    <!--    <div class="x-preHeader__contente" id="preHeader__content"></div>-->
    <!--</section>-->
    <vtex:template id="MariaFilo-Header-dev"/>
    <main class="x-content">
        <section class="x-banner-main">
            <div class="x-banner-main_carousel">
                <vtex:contentPlaceHolder id="Banner-Main"/>
            </div>
            <div class="x-banner-main_carousel">
                <vtex:contentPlaceHolder id="Banner-Main2"/>
            </div>
            <div class="x-banner-main_video">
                <vtex:contentPlaceHolder id="Banner-Main-Video"/>
            </div>
            <button class="x-scroll-more">Scroll down</button>
        </section>

        <section class="x-banner-main">
            <div class="x-banner-main_video">
                <vtex:contentPlaceHolder id="Banner-Full-Video"/>
            </div>
            <button class="x-scroll-more">Scroll down</button>
        </section>

        <section class="x-banner-large">
            <div class="x-banner-large_image">
                <div class=" " >
                    <vtex:contentPlaceHolder id="Banner-Full-Top"/>
                </div>
            </div>
        </section>
        <section class="x-banners_grid">
            <div class="x-banners_grid--left">
                <div class="x-banners-left_image  " >
                    <vtex:contentPlaceHolder id="Banner-01-Image"/>
                </div>
                <div class="x-banners-left_text" style="display: none;">
                    <vtex:contentPlaceHolder id="Banner-01-Text"/>
                </div>
                <div class="x-banners-left_image  " >
                    <vtex:contentPlaceHolder id="Banner-03-Image"/>
                </div>
                <div class="x-banners-left_text" style="display: none;">
                    <vtex:contentPlaceHolder id="Banner-03-Text"/>
                </div>
            </div>
            <div class="x-banners_grid--right">
                <div class="x-banners-right_image  " >
                    <vtex:contentPlaceHolder id="Banner-02-Image"/>
                </div>
                <div class="x-banners-right_text" style="display: none;">
                    <vtex:contentPlaceHolder id="Banner-02-Text"/>
                </div>
                <div class="x-banners-right_image  " >
                    <vtex:contentPlaceHolder id="Banner-04-Image"/>
                </div>
                <div class="x-banners-right_text" style="display: none;">
                    <vtex:contentPlaceHolder id="Banner-04-Text"/>
                </div>
            </div>
        </section>
        <section class="x-vitrine">
            <div class="x-vitrine-header">
                <!--<h2>mais desejados</h2>
                <span class="x-separator"></span>-->
                <vtex:contentPlaceHolder id="NewIn-Link"/>
            </div>
            <div class="x-vitrine-products">
                <div class="produtos-newin-titulo">
                    <vtex:contentPlaceHolder id="Produtos-NewIn-Titulo"/>
                </div>
                <vtex:contentPlaceHolder id="Produtos-NewIn"/>
                <div class="x-vitrine-banner  " >
                    <vtex:contentPlaceHolder id="Banner-Novidades"/>
                </div>
            </div>
        </section>
        <section class="x-banner-large">
            <div class="x-banner-large_image">
                <div class=" " >
                    <vtex:contentPlaceHolder id="Banner-Large-Image"/>
                </div>
            </div>
            <div class="x-banner-large_text">
                <vtex:contentPlaceHolder id="Banner-Large-Text"/>
            </div>
        </section>
        <section class="x-banner-large">
            <div class="x-banner-large_image">
                <div class=" " >
                    <vtex:contentPlaceHolder id="Banner-Large-Image2"/>
                </div>
            </div>
            <div class="x-banner-large_text">
                <vtex:contentPlaceHolder id="Banner-Large-Text2"/>
            </div>
        </section>
        <section class="x-banner-large">
            <div class="x-banner-large_image">
                <div class=" " >
                    <vtex:contentPlaceHolder id="Banner-Large-Image3"/>
                </div>
            </div>
            <div class="x-banner-large_text">
                <vtex:contentPlaceHolder id="Banner-Large-Text3"/>
            </div>
        </section>
        <section class="x-banners_grid">
            <div class="x-banners_grid--left">
                <div class="x-banners-left_image  " >
                    <vtex:contentPlaceHolder id="Banner-Image-botao1"/>
                </div>
            </div>
            <div class="x-banners_grid--right">
                <div class="x-banners-right_image  " >
                    <vtex:contentPlaceHolder id="Banner-Image-botao2"/>
                </div>
            </div>
        </section>
        <section class="x-banner-grid">
            <div class="x-banner-grid_images  " >
                <vtex:contentPlaceHolder id="Banner-Grid-Image"/>
            </div>
            <div class="x-banner-grid_text">
                <vtex:contentPlaceHolder id="Banner-Grid-Text"/>
            </div>
        </section>
        <section class="x-banners_grid">
            <div class="x-banners_grid--left">
                <div class="x-banners-left_image  " >
                    <vtex:contentPlaceHolder id="Banner-10-Image"/>
                </div>
                <div class="x-banners-left_image  " >
                    <vtex:contentPlaceHolder id="Banner-11-Image"/>
                </div>
            </div>
            <div class="x-banners_grid--right">
                <div class="x-banners-right_image  " >
                    <vtex:contentPlaceHolder id="Banner-12-Image"/>
                </div>
                <div class="x-banners-right_image  " >
                    <vtex:contentPlaceHolder id="Banner-13-Image"/>
                </div>

                <div class="x-banners_grid--left">
                    <div class="x-banners-left_image  " >
                        <vtex:contentPlaceHolder id="Banner-20-Image"/>
                    </div>
                </div>
                <div class="x-banners_grid--right">
                    <div class="x-banners-right_image  " >
                        <vtex:contentPlaceHolder id="Banner-30-Image"/>
                    </div>
                </div>
            </div>
        </section>
        <section class="x-banner-large">
            <div class="x-banner-large_image">
                <div class=" " >
                    <vtex:contentPlaceHolder id="Banner-Large-Image4"/>
                </div>
            </div>
        </section>
        <section class="x-banner-lower">
            <vtex:bannerInstagram/>
        </section>
    </main>
    <vtex:template id="MariaFilo-Footer-dev"/>
</div>
<vtex:template id="MariaFilo-Scripts-dev"/>
<script type="text/javascript" src="https://mariafilo.vteximg.com.br/arquivos/jquery-cookie.min.js"></script>
<!--<script type="text/javascript" src="https://mariafilo.vteximg.com.br/arquivos/enext-home-mariafilo-4.2.6-beta.js"></script>-->
</body>
</html>