.mw5-5 {
  max-width: 24rem;
}

.mw6-5 {
  max-width: 45rem;
}

.bg-black {
  background: #000;
}

.bg-green-l {
  background-color: #8DC879;
}

.br-green-l {
  border-color: #8DC879 !important;
}

.bg-green-s-l {
  background-color: #D2EEC7;
}

.bg-red-s {
  background-color: #F9E0CA;
}

.bt-bn {
  border-bottom: none;
}

.b-light {
  border: 1px solid $color-white-light-100;
}

.bt-cwl {
  background-color: $color-white-light-100 !important;
  border: none;
  height: 1px;
}

.lh1 {
  line-height: 1em;
}

.lh2 {
  line-height: 1.2em;
}

.tracked-normal {
  letter-spacing: 0.01em;
}

.ls-normal {
  letter-spacing: normal;
}