{{#compare items.length '==' shippingData.logisticsInfo.length}}
  <div class="w-100 mt4 tc">
    <!-- partial:hi.hbs --><!-- partial -->
    {{#compare items.length '==' 1}}
      <h5 class="w-100 ffa h5 cwl fw3">((i18n.shipping.deliveredProduct))</h5>
    {{/compare}}
    {{#compare items.length '>' 1}}
      <h5 class="w-100 ffa h5 cwl fw3">((i18n.shipping.deliveredProducts))</h5>
    {{/compare}}
  </div>
{{/compare}}

<!-- Intro message: Just some items shipped -->
{{#compare items.length '!=' shippingData.logisticsInfo.length}}
  <div class="w-100 mt4 tc">
    <!-- partial:hi.hbs --><!-- partial -->
    {{#compare items.length '==' 1}}
      <h5 class="w-100 ffa h5 cwl fw3">((i18n.shipping.deliveredOneProduct))</h5>
    {{/compare}}
    {{#compare items.length '>' 1}}
      <h5 class="w-100 ffa h5 cwl fw3">((i18n.shipping.deliveredSomeProducts))</h5>
    {{/compare}}
  </div>
{{/compare}}
