<tr>
  <td class="w-100 ph5-ns">
    <!-- partial:hi.hbs --><!-- partial -->
    <p class="h4 lh-title ffa tc cwl">
      ((i18n.order.introMessage))
    </p>

    <!-- partial:order-link.hbs --><!-- partial -->
  </td>
</tr>
