<div class="w-100 tc">
    <p class="h5 ffa mb4 cwl-m">((i18n.message.regards))</p>

    <div class="w-100">
        <a class="br1 pa3 br1 ba mr2 bg-green-l br-green-l no-underline"
            href="https://api.whatsapp.com/send/?phone=552125036852&text&app_absent=0" target="_blank">
            <img class="mr2" src="https://mariafilo.vteximg.com.br/arquivos/icon-whatsapp-min.png" alt="" style="transform: translate(0, 2px);" />
            <span class="h6 ffa white">WHATSAPP</span>
        </a>

        <a class="br1 pa3 br1 ml2 bg-white b2 bc--light ba no-underline b--black"
            href="https://centraldeatendimento.mariafilo.com.br" target="_blank">
            <img class="mr2" src="https://mariafilo.vteximg.com.br/arquivos/icon-faq.png" alt="" style="transform: translate(0, 7px);" />
            <span class="h6 ffa black">PERGUNTAS FREQUENTES</span>
        </a>
    </div>

    <p class="tc cwl mt4 mb5">((i18n.message.time))</p>

    <div class="w-100" href="#">
        <a href="https://www.mariafilo.com.br/Loja/Roupas?O=OrderByScoreDESC" target="_blank">
            <img class="w-100" src="https://mariafilo.vteximg.com.br/arquivos/banner-desconto-emails.jpg" alt="" />
        </a>
    </div>

    <div class="w-100 mt5 mb2 tc">
        <a class="no-underline" href="http://mariafilo.com.br" target="_blank">
            <img class="" src="https://mariafilo.vteximg.com.br/arquivos/logo-mf.png" alt="" />
            <div class="w-100 tdn mt3 cwl lh1">
                <span class="w-100">((i18n.common.regards)),<br />((i18n.common.team)).</span>
            </div>
        </a>
    </div>
</div>
